#!/usr/bin/make -f
#DH_VERBOSE = 1

GTEST_BINARY_DIR=$(CURDIR)/debian/gtest

export CCFLAGS=-fno-lto
DEB_LDFLAGS_MAINT_APPEND=-L$(GTEST_BINARY_DIR)

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_build:
	# Build gtest from source
	mkdir -p $(GTEST_BINARY_DIR) && \
	cd $(GTEST_BINARY_DIR) && \
	cmake /usr/src/gtest -DBUILD_SHARED_LIBS=on && \
	make VERBOSE=1

	./build_all --mode release --verbose

override_dh_clean:
	rm -rf $(CURDIR)/out $(GTEST_BINARY_DIR)
	dh_clean
